.aspect > .name {
	font-size:small;
}

.aspect > div {
    overflow: hidden;
}

.aspect > img {
    float: left;
    margin: 5px 0;
}

#aspectControl {
    overflow: auto;
}

#aspectControl h2 {
    text-align: center;
    margin: 0.5em 0;
}

#aspectControl > section {
    float: left;
    margin: 0 5px;
}

.aspectControlList {
    list-style: none;
    border: 1px solid black;
    padding: 5px;
    margin-top: 0;
    float: left;
}

.aspectControlList > li {
    float: left;
}

.aspectControlList > li > * {
    padding: 5px;
    vertical-align: middle;
}

#aspectList {
    width: 750px;
}

#aspectList > li {
    width: 20%;
}

#aspectList > li.aspect:hover {
    background: #DDDDDD;
    font-weight: bold;
}

#aspectList > p {
    text-align: center;
}

#componentBox {
    z-index: 500;
    background: #D6D6D6;
    position: absolute;
    padding: 5px;
	display: none;
}

#componentBox > .aspect {
    display: inline-block;
    vertical-align: middle;
}

#componentBox > .aspect > img {
	float: left;
	margin: 4px 5px 0 0;
}

#componentBox > .aspect > div {
	margin-left: 37px;
}

.connectionList {
    list-style: none;
    padding-left: 0;
    margin: 0 10px;
}

.connectionList > li {
    text-align: left;
}

.connectionList > li > * {
    padding: 5px;
}

.fieldName {
    float: left;
    width: 15%;
    margin-right: 10px;
}

#finder {
    width: 650px;
    margin-bottom: 25px;
}

#finder > div {
    margin-bottom: 10px;
}

footer {
    text-align: center;
}

footer > hr {
    width: 75%;
}

#longArrow {
    font-family: monospaced;
}

#pointControl > div {
    margin-bottom: 5px;
}

#pointControl button {
    width: 60px;
}

#pointList {
    width: 275px;
    max-height: 378px;
    overflow: auto;
}

#pointList > li {
    width: 50%;
    text-align: center;
}

.resultList {
    overflow: auto;
    text-align: center;
}

.resultList > div {
    margin-top: 5px;
}

.resultList button {
    margin: 0 5px;
}

.resultList p {
    margin: 5px;
}

.resultList > section {
    float: left;
    width: 50%;
}

.resultListAspect {
    border: 1px solid #E8E8E8;;
}

.select2-container .select2-choice {
    height: 45px;
}

.spinner {
    width: 50px;
}